.btn-go {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    border: solid;
    padding: 0.5rem 1.5rem;
    border-color: var(--color-w);
    border-width: 2px;
    border-radius: 25px;
    justify-content: center;
}
h2 {
    color: var(--color-w);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    
}

.btn-icon {
    margin-left: 0.5rem;
    padding-top: 3px;
    color: var(--color-w);
    font-size: 30px;
}


@keyframes shake {
    1%, 40%, 100% { transform: translateX(0); }
    10% , 30% { transform: translateX(-5px); }
    20% { transform: translateX(5px); }
}
  

.shaking-div {
    /* animation: shake 6s ease-in-out infinite; */
    /* animation-play-state: running;  */
    transition: background-color 0.4s ease-in-out;
}
  
.shaking-div:hover {
    /* background-color: rgba(0, 0, 0, 0.5); */
    cursor: pointer;
    animation-play-state: paused;
    background-color: var(--color-w);
    border-color: var(--color-bg);
}

.shaking-div:hover h2 {
    color: var(--color-bg);
}

.shaking-div:hover .btn-icon {
      color: var(--color-bg);
}
