.blog{
    display: flex;

    align-items: center;
    flex-direction: column;
    margin-bottom: 6rem;
}

.menu {
    display: flex;
}

.menu-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    user-select: none;
    text-align: center;
}
.menu-h1{
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--color-text);
}
.menu-h1:hover{
    cursor:default;
}

.menu-h3{
    font-size: 1.5rem;
    color: var(--color-text);
    margin-bottom: 0.5rem;
}
.menu-h3:hover{
    cursor: pointer;
}

.menu-h3-underline{
    font-size: 1.5rem;
    color: var(--color-text);
    margin-bottom: 0.5rem;
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
    text-underline-offset: 0.7rem;
    transition: transform 0.3s;
}

.blog-grid{
    margin-top: 6rem;
}

.list-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 4rem; 
}

.list-item {
    /* border: 3px solid #000000; */
    border-radius: 25px;
    /* padding: 20px; */
    text-align: center;
    max-width: 314px;
    overflow: hidden;
    background-color: white;
    filter: drop-shadow(0px 23px 20px rgba(12, 95, 203, 0.37));
    transform: scale(1);
    transition: transform 0.3s;
    
    /* box-shadow: 11px 23px 34px rgba(0, 0, 0, 0.3); */
}

.list-item:hover {
    transform: scale(1.05);
}

.list-item-imgdiv{
    position: relative;
    overflow: hidden;
    /* padding-bottom: 60%; */
}

.list-item img {
    max-width: 100%;
    width: 20rem;
    height: 15rem;
    object-fit: cover; 
    /* max-height: 200px; */
}

.list-item-iden{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.4rem 2rem 0.7rem 2rem;
    font-family: 'Manrope', sans-serif;
}

.list-item-iden h3{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.list-item-iden p{
    font-weight: 300;
}


@media screen and (max-width: 1100px) {
    .list-grid{
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media screen and (max-width: 700px) {
    .list-grid{
        grid-template-columns: repeat(1, 1fr);    
    }
    .menu-h3{
        font-size: 1.2rem;
    }
    .menu-h3-underline{
        font-size: 1.2rem;
        color: var(--color-text);
        margin-bottom: 0.5rem;
        text-decoration: underline;
        text-decoration-thickness: 0.1rem;
        text-underline-offset: 0.3rem;
        transition: transform 0.3s;
    }
}