* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
}
  
a {
    color: unset;
    text-decoration: none;
}
.gradient-background {
    background:-moz-radial-gradient(circle at 0% 0%, rgba(128, 206, 215, 1) 0%, rgba(204, 219, 205, 1) 33%);
  
    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 0% 0%, rgba(128, 206, 215, 1) 0%, rgba(204, 219, 205, 1) 33%);
  
    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 0% 0%, rgba(128, 206, 215, 1) 0%, rgba(204, 219, 205, 1) 33%);
  
    /* ie 10+ */
    background:-ms-radial-gradient(circle at 0% 0%, rgba(128, 206, 215, 1) 0%, rgba(204, 219, 205, 1) 33%);
  
    /* global 92%+ browsers support */
    background:radial-gradient(circle at 0% 0%, rgba(128, 206, 215, 1) 0%, rgba(204, 219, 205, 1) 33%);
  }

  .gradient-text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .section-padding {
    padding: 4rem 8rem;
  }

  .section-margin {
    margin: 8rem 8rem;
  }

  .scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.sc-display-none{
  display: none
}

.sc-display-first {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 2rem;
}

.sc-display-second {
  display: none;
  flex: 1;
  justify-content: center;
  align-items: center;

  margin-right: 2rem;
}

@media screen and (max-width: 1000px) {
  .section-padding {
    padding: 4rem;
  }

  .section-margin {
    margin: 4rem;
  }
  .sc-display-first {
    display: none;
  }
  .sc-display-second {
    display: flex;
  }
  
}

@media screen and (max-width: 550px) {
  .section-padding {
    padding: 4rem 2rem;
  }

  .section-margin {
    margin: 4rem 2rem;
  }  
}